{
  "schema_version": 1,
  "id": "x-ww-main",
  "name": "X-WW",
  "version": "1.0.0",
  "description": "Main X-WW build",
  "minecraft": "1.21.1",
  "loader": {
    "type": "neoforge",
    "version": "21.1.248"
  },
  "java": {
    "major": 21
  },
  "packwiz": {
    "url": "https://monkey52x.github.io/minecraft.x-ww/packs/x-ww-main/pack.toml"
  }
}
